/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

 .mat-sort-header-arrow {
    color: white !important;
}

 .mat-mdc-header-row {
    background-color: #005cbb !important;
    color: white !important;
}